@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



.no-js #mobile-menu__toggler {
    display: none;
  }
  .no-js .aw-header__nav {
    display: block;
  }
  .no-js .aw-header__logo {
    margin-left: unset;
  }
  .transition {
    transition: all 0.2s ease-in-out;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .order-3 {
    order: 3;
  }
  /* use '@screen lg {...}' with npm version */
  @media (min-width: 1024px) {
    .lg\:order-1 {
      order: 1;
    }
    .lg\:order-2 {
      order: 2;
    }
    .lg\:order-3 {
      order: 3;
    }
  }


.navbar-brand img {
    width: 120px;
    height: auto;
}

.swiper-container {
   padding: 30px;
  }

.slide-image img{
  width: 100%;
  height: auto;
}
.bgpurple{
  background-color: #4542b9;
  color: #ffffff;
}
.footer-top {
  box-shadow: inset 0px 11px 8px -10px rgba(1, 1, 1, 0.4);
  padding:30px;
  border-bottom: rgb(231, 206, 12) 2px inset;
}
